/*--------------------------------*/
@media (max-width:768px) {
    a {
        padding: 4px;
    }
    /*--------LOGO-------------------*/
    .content__logo {
        padding: 0 0 30px 0;
    }
    /*--------card__contacts-------------------*/
    .contact__list {
        padding: 0 0 10px 0;
    }
    .contact__item:not(:first-child) {
        margin: 0 0 0 20px;
    }
    .quote {
        text-align: right;
        font-size: 10px;
        max-width: 190px;
    }
    /*--------PAGE-------------------*/
    .page {
        flex-wrap: wrap-reverse;
    }
    .page__title {
        max-width: 30%;
        margin: 0 10px 0 0;
        
        font-size: 19px;
    }
    .page__content {
       display: flex;
       justify-content: space-between;
       align-items: center;
       margin: 25px 0 0 0;
       max-width: 100%;
    }
    .page__list {
        max-width: 50%;
        margin: 0 10px 0 0;
    }
    .page__note {
        max-width: 20%;
    }

    .description__title {
        font-size: 19px;
    }
}


@media (max-width: 645px) {
    .page__content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        min-width: 100%;
     }


     .page__title {
        max-width: 100%;
        
     }
     .page__list {
        max-width: 100%;
     }
     .page__note {
        max-width: 100%;
     }
}


@media (max-width: 605px) {
    .contact__list {
        padding: 0;
    }

    .quote {
        display: none;
    }

    .logo__subtitle {
        margin: 0 0 10px 0;
    }
    ._quote__absolute{
        display: block;
        min-width: 100%;
    }
}


@media (max-width: 590px) {
    .card {
        margin: 3%;
        background-color: rgba(245, 245, 224, 0.8);
    }
    .card__contacts {
        padding: 30px 30px 0 0;
    }
    
    .content__logo {
        padding: 20px 0 30px 0;
    }
}


@media (max-width: 462px) {
    ._container {
        padding: 0;
    }

    .card {
        margin: 0;

        border: 5px ridge #FFDF13;
    }
}


@media (max-width: 426px) {
    .contact__img {
        margin: 0 -5px 0 0;
    }

    .content__logo {
        padding: 20px 0 30px 0;
    }
    .logo__image {
        width: 135px;
        height: 135px;
    }
    .logo__link {
        padding: 0;
        font-size: 29px;
    }
}


@media (max-width: 376px) {
    .card {
        padding: 15px;
    }
    .card__contacts {
        padding: 20px;
    }
    .contact__item:not(:first-child) {
        margin: 0;
    }

    .content__logo {
        padding: 20px 0 20px 0;
    }

    .page__content {
        margin: 15px 0 0 0
    }
}

/* СЛАЙДЕР АДАПТИВ */
@media (max-width: 845px) {
    .product__description-list-item {
        font-size: 17px;
    }
    .product__description-list-item span {
        font-size: 15px;
        color: rgb(1, 95, 13);
        font-weight: 600;
    }
}
@media (max-width: 815px) {
    .product__description {
        max-width: 150px;
    }
    .product__description-list-item {
        font-size: 16px;
    }
    .product__description-list-item span {
        font-size: 14px;
        color: rgb(1, 95, 13);
        font-weight: 600;
    }
}
@media (max-width:768px) {
    .btn:not([disabled]):hover{
        cursor: pointer
      }
}

@media (max-width: 730px) {
    .wrapper__product {
        display: block;
    }
    .slider {
        margin: 0 0 5px 0;
    }

    .product__description {
        max-width: 100%;
        text-align: center;
    }
    .product__description-list-item {
        font-size: 17px;
    }
    .product__description-list-item span {
        font-size: 15px;
    }
    .slider__nav {
        position: static;
        padding: 0 30px;
    }
}






/**/
@media (max-width: 700px) {
    .slider__note {
        font-size: 10px;
    }
}
@media (max-width: 564px) {
    .slider__note {
        top: 5px;
        right: 10px;
    }
    .section__slider {
        margin: 0 -30px 20px;
        padding: 20px;
    }
}
@media (max-width: 426px) {
    .section__slider {
        margin: 0 -40px 20px;
    }
    .slider__note {
        top: 10px;
        right: 15px;
        font-size: 10px;
    }
}

@media (max-width: 376px) {
    .section__slider {
        padding: 45px 30px 30px;
    }
    .slider__note {
        top: 10px;
        right: 30px;
        font-size: 8px;
    }
}

@media (max-width: 340px) {
    .slider {
        border-left: none;
        border-right: none;
    }
}
