/*--------FONTS---------*/

/*--Alegreya--*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;1,800&display=swap');
/*--PT+Sans--*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;1,800&family=PT+Sans:wght@400;700&display=swap');
/*------ ОБНУЛІННЯ СТИЛІВ ---------------------------------------*/
body {
    font-family: 'Alegreya SC', serif;
    background-color: #ffdf0f14;
    color: #1D1D1D;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    transition: all 0.25s;
}
a:hover {
    color: rgb(255, 128, 0);
}
ul,
li {
    list-style-type: none;
    padding: 0;
}
/*-----HOVER---------*/
@media (min-width:768px) {
    
}
/*-----HOVER---------*/




/*------- ТЕХНІЧНІ КЛАСИ*/
._menu {
}
._title {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
    padding: 25px 0;
}

._logo {
}

._quote__absolute{
  text-align: right;
  font-size: 11px;
  color: rgba(39, 38, 38, 0.7);
  display: none;
}

._color-red { /*задає червоний колір*/
    color: rgb(255, 0, 0);
}
._color-pink { /*задає рожевий колір*/
    color: rgb(255, 0, 251);
}
/*--------------*/
/*-----*/
/*------- ГОЛОВНІ ТЕГИ */
.wrapper {
    min-height: 100vh;
    min-width: 100%;
    overflow: hidden;

}

.container {
    max-width: 1105px;
    margin: 0 auto;


}

.page {
    min-height: 100%;
    min-width: 100%;
    /*
    padding: 30px;
    box-sizing: border-box;

    background-color: rgba(245, 245, 224, 0.9);
    border: 7px ridge #FFDF13;
    
    position: relative;*/
}
/*--------------*/
/*-----*/









/*-------- ВЕРХНІЙ БЛОК --------*/
.header,
.footer {
    overflow: hidden;
    background-image: url('../img/portfolio/bg.jpg');
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    
    
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0, 40%);
}
.header {
    margin: 0 0 40px 0;    /*-------------------------------*/
}
.header__container {
}
.header-bg {
    padding: 70px 25px 0;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%;

    
}

/*--------------*/
/*-----*/



/*---------- ГОЛОВНЕ МЕНЮ ------------------*/
.section-header-menu {
    min-height: 30px;   /*-------------------------------*/
    width: 100%;
    position: fixed;

    z-index: 99;
    background-color: rgba(0, 0, 0, .6);
    box-shadow: 0px 0px 2.5px 0px rgba(0,0,0,0.5);
}

._scroll-fixed {
    
}

.menu-navigation {
    
}

.navigation-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    height: 100%;
}

.navigation-item {
}
.navigation-item:not(:last-child) {
}
.navigation-link {
}
.navigation-link__name {
    height: 100%;
    padding: 17px 35px;

    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: rgb(255, 255, 255);
    transition: all 0.25s;
}
.navigation-link__name:hover {
    background-color: rgba(0, 0, 0, 0.3);;
}


._btn-how-to-pay {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    font-weight: 700;

    display: block;
    padding: 8px 15px;
    box-sizing: border-box;
    margin: 0 0 0 25px;

    background-color: rgba(255, 127, 80, 0.7);
    border-radius: 8px;
    color: #fff;

    transition: all .3s;
}
._btn-how-to-pay:hover {
    color: #fff;
    background-color: rgba(255, 127, 80, 1);
}
/*--------------*/
/*---BURGER--*/
#burger-menu {
    cursor: pointer;
    height: 27px;
    width: 27px;
    margin: 35px;
    overflow: visible;
    position: absolute;
    z-index: 2;

    display: none;
}
#burger-menu.fixed{
    position: fixed;
}
#burger-menu span, #burger-menu span:before, #burger-menu span:after {
    background: rgb(0, 0, 0);
    display: block;
    height: 4px;
    border-radius: 50px;
    opacity: 1;
    position: absolute;
    transition: 0.3s ease-in-out;
}
#burger-menu span:before, #burger-menu span:after {
    content: '';
}
#burger-menu span:before {
    left: 0px;
    top: -10px;
    width: 100%;
}
#burger-menu span {
    right: 0px;
    top: 13px;
    width: 27px;
}
#burger-menu span:after {
    left: 0px;
    top: 10px;
    width: 27px;
}
#burger-menu.close span:before {
    top: 0px;
    transform: rotate(90deg);
    width: 27px;
}
#burger-menu.close span {
    transform: rotate(-45deg);
    top: 13px;
    width: 27px;
}
#burger-menu.close span:after {
    top: 0px;
    left: 0;
    transform: rotate(90deg);
    opacity: 0;
    width: 0;
}
#menu {
    z-index: 1;
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 0;
    height: 0;
    visibility: hidden;
    opacity: 0;
    text-align: center;
    padding-top: 20px;
    transition: all 0.3s ease-in-out;
}
#menu.overlay {
    visibility: visible;
    opacity: 1;
    padding-top: 120px;
    background: rgba(0, 0, 0, 0.8);
}
#menu ul {
    padding: 0;
}
#menu li {
    list-style: none;
}
#menu a {
    color: #fff;
    display: block;
    font-size: 26px;
    margin-bottom: 10px;
    text-decoration: none;
}
/*-----*/




/*-------ВМІСТ-ЛОГОТИПУ---------------------*/
.section-header-logo {

}
.wrapper-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    padding: 5px 0 0 0;
}
._logo {
}
.avatar {
}
.avatar__img {
    padding: 0px;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid rgb(255, 183, 0);
}
.logo {
    position: relative;
    padding: 0 25px;
}
.logo__link {
    color: #ff9e00;
    font-weight: 800;
    font-size: 36px;
    line-height: 80%;
}
.logo-name {
    color: #3f3f3f;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}
/*--------------*/
/*-----*/



/*---------- МЕНЮ СОЦІАЛЬНИХ МЕРЕЖ ------------------*/
.section-header-mess {

}
.wrapper-main-bg {

}
.section-header-mess__block {

}
.menu-social-networks {
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}
._menu {

}

.social-networks-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    padding: 0 0 5px 0;
    min-width: 10px;
}

.social-networks-item:not(:first-child) {
    margin: 0 0 0 40px;
}

.social-networks-link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.social-networks-link__icon {
    height: 28px;
    width: 28px;
    padding: 0 10px 0 0;
}
.social-networks-link__name {
    font-size: 19px;
}
/*--------------*/
/*-----*/
/*------- ЦИТАТА ---------------------*/
.quote {
    text-align: center;
    font-size: 11px;
    color: rgb(0, 0, 0, 0.7);
}

.block-quote {
}
.block-quote__text {
}
.block-quote__signature {
}
/*--------------*/
/*-----*/





/*-----main---------*/
.main {
    
}
.wrapper-main-bg {
    
}


.main-section-header {
       /*-------------------------------*/
    
}
.main-section-header_block {
    
}
.main-section-header-row {
    display: flex;
    justify-content: center;
    align-items: center;
}
/*--------------*/
/*-----*/



/*-----ОПИС-МАГАЗИНУ---------------------------*/
.about {
    min-width: 200px;
    text-align: center;
    
    padding: 25px;
    margin: 0 0 50px 0;
    
    background-color: #fafafa;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
.about-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-block-img {
    padding: 30px;
    border: 2px solid rgb(205, 205, 205);
}
.about-block-img__me-img {
    max-height: 400px;
}

.about-column {
    padding: 30px;
}

.about-me-content__title {
    margin: 0 0 10px 0;
    font-size: 17px;
}
.about-me-content__paragraph {
    font-size: 16px;
}
.description__list-item:not(:last-child) {
    margin: 0 0 5px 0;
}
/*--------------*/
/*-----*/



/*------ БЛОК З ТОВАРАМИ ---------------------------*/
.shop {
    margin: 50px 0 0 0;
    padding: 25px;

    background-color: #fafafa;
    box-shadow: 0px 0px 2.5px 0px rgba(0,0,0,0.5);
}


.shop__title {
    
}

.shop-row {
    display: flex;
    justify-content: center;
    align-items: center;
}


.card-product {
    position: relative;
    max-width: 600px;
    padding: 20px 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #fafafa;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);

    border: 3px solid #fafafa;
    cursor: pointer;
    transition: all 0.25s;
}
.card-product:hover {
    border: 3px solid #ff7f50;
}
/**/
/* СЛАЙДЕР ДЛЯ SHOP */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
}


/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(205, 205, 205, 0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #000000;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, .6);
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: rgba(0, 0, 0, .6);
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/*-----------*/

.card-product__name {
    margin-bottom: 10px;
    font-size: 24px;
}
.card-product__note {
    color: #ff0000;
    position: absolute;
    top: 5px;
    right: 10px;
    font-weight: 600;
    font-size: 9px;
}
.rating {
    cursor: pointer;
    padding: 5px;
}
.rating__img {
    width: 22px;
}
.product-features {
    width: 300px;
    text-align: center;
}
.product-features__title {
}
.features-list {
}
.product__description-list-item {
}
/*--------------*/
/*-----*/





/* КАТАЛОГ */
/*-----------*/
.catalog {
    width: 100%;
    margin: 0 0 50px 0;
    padding: 25px;

    background-color: #fafafa;
    box-shadow: 0px 0px 2.5px 0px rgba(0,0,0,0.5);

    text-align: center;
}


.catalog__title {
  
}
.catalog-block-img {
    width: 32%;
}
.catalog-row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.catalog-img {
    width: 100%;
}

/*--------------*/
/*-----*/





/* ВІДГУКИ */

.reviews {
    background-color: #fafafa;
    box-shadow: 0px 0px 2.5px 0px rgba(0,0,0,0.5);
    position: relative;
    z-index: -2;
    margin: 0 0 50px 0;
    padding: 25px;
}
.reviews__title {
    
}
.reviews-row {
    display: flex;
    justify-content: center;
}
.margin-minus {
    margin: -100px 0 0 0;
    position: relative;
    left: 0;
    top: 0;
    z-index: -1;
}

.reviews-block {
    padding: 10px;
}

.reviews-block__img {
    width: 220px;
    
}
/*--------------*/
/*-----*/



/*------ ЧАСТІ ЗАПИТАННЯ--------*/
.questions {
    min-height: 300px;
    margin: 0 0 70px 0;
}
.container {
}
.questions__title {
    
}
.questions-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 0 25px;
}
.questions-card {
    padding: 30px;
    box-sizing: border-box;
    min-height: 200px;
    max-width: 320px;
    
    background-color: #fafafa;
    box-shadow: 0px 0px 2.5px 0px rgb(0 0 0 / 50%);
    text-align: center;
}

.block-question {
}
.block-question-wrapper-icon {
}
.block-question-wrapper-icon__img {
    height: 64px;
}

.block-question__title {
    font-size: 20px;
    padding: 10px 0;
}
.questions-card__answer {
    font-family: 'PT Sans', sans-serif;
}
/*--------------*/
/*-----*/



/* ЯК ЗАМОВИТИ */
.how {
    margin: 0 0 40px 0;
}
.how__title {
    
}
.how-row {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 0 25px;
}
.how-card {
    padding: 30px;
    box-sizing: border-box;
    min-height: 200px;
    max-width: 100%;
    font-family: 'PT Sans', sans-serif;
    
    background-color: #fafafa;
    box-shadow: 0px 0px 2.5px 0px rgb(0 0 0 / 50%);
    text-align: center;
}

.block-how {
    
}

.block-how-wrapper-icon {
}

.block-how-wrapper-icon__img {
    height: 64px;
}
.block-how__title {
    padding: 10px 0;
}
/*--------------*/
/*-----*/
















/*------ШВИДКИЙ-ЗВ'ЯЗОК--------------*/
.footer-bg {
    padding: 0;
    background-color: rgba(255, 255, 255, 0.8);
    height: 100%;
    width: 100%;
}

.footer {
    text-align: center;
}

.footer-content {
    padding: 25px;
    

    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-content a {
    font-size: 18px;
    font-weight: 500;
}

.footer-content__title {
    margin: 0 0 10px 0;
    font-size: 20px;
}
.margin-bottom-5px {
    margin-bottom: 5px;
}

.footer-content__list {
    margin: 0 0 2px 0;
}
.footer__item {

}

.footer__item-number {
}
.footer__item-number:not(:last-child) {
    margin: 0 0 5px 0;
}
.footer__item-email {
}

.footer-note {
    margin: 10px 0;
}
.footer-note-info {
    display: block;
    font-size: 12px;
    font-weight: 600;
}
/*--------------*/
/*-----*/