/*--------FONTS---------*/

/*--Alegreya--*/
@import url('https://fonts.googleapis.com/css2?family=Alegreya+SC:ital,wght@0,400;0,500;0,700;1,800&display=swap');
/*---------------------------------------------*/
body {
    font-family: 'Alegreya SC', serif;
    background-color: rgba(253, 255, 255, 1);
    color: #1D1D1D;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
    transition: all 0.25s;
}
a:hover {
    color: rgb(255, 128, 0);
}

ul,
li {
    list-style-type: none;
    padding: 0;
}


/*---------------------------------------------*/
.wrapper {
    min-height: 100vh;
    max-width: 100%;
    overflow: hidden;
    background-image: url('../img/portfolio/bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.wrapper__container {
}


/*------ТЕХНІЧНІ-КЛАСИ----------------*/


._container {
    max-width: 1105px;
    padding: 0 15px;
    margin: 0 auto;
}

._contacts {
}

._logo {
}


/*-----card-block----------------------------*/


.card {
    min-height: 500px;
    min-width: 90%;
    padding: 30px;
    box-sizing: border-box;
    margin: 5% 15px 5%;

    background-color: rgba(245, 245, 224, 0.9);
    border: 12px ridge #ffe73580;
    border-radius: 0px 40px 0px 40px;

    border: 10px ridge #FFDF13;
    border-radius:0px;

    position: relative;
}

/*---------------------------------------------*/

.card__contacts {
    max-width: 700px;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0 0 0 225px;

    padding: 30px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column;
    align-items: flex-end;

}
._contacts {
}
.contact__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;

    padding: 0 0 20px 0;
}

.contact__item:not(:first-child) {
    margin: 0 0 0 40px;
}

.contact__link {
    display: flex;
    justify-content: center;
    align-items: center;
}
.contact__img {
    height: 30px;
    width: 30px;
    padding: 0 10px 0 0;
}
.contact__name {
    font-size: 16px;
}

.quote {
    text-align: center;
    font-size: 12px;
    color: rgb(0, 0, 0, 0.7);
}

.block_quote {
}
.quote__text {
}
.quote__signature {
}
/*-------ВМІСТ-ЛОГОТИПУ-----------------------------------*/
.content__logo {
    padding: 0 0 50px 40px;
}
._logo {
}
.logo__image {
    width: 150px;
    height: 150px;
}
.ava__img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    border: 5px solid rgb(255, 183, 0);
}
.logo__text {
}
.logo__title {
}
.logo__link {
    color: #ff9e00;
    font-weight: 800;
}
.black {
    color: #000;
}
.logo__subtitle {
    font-size: 17px;
    font-weight: 400;
}
._quote__absolute{
    text-align: right;
    font-size: 11px;
    color: rgba(39, 38, 38, 0.7);
    display: none;
}

/*---------СЛАЙДЕР---------------------------*/
.section__slider {
    min-width: 100%;
    margin: 0 0 40px 0;
    padding: 30px;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: #f5f5e0;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
._slider {

}

.slider__title {
    margin-bottom: 10px;
}
.slider__note {
    color: #ff0000;
    position: absolute;
    top: 5px;
    right: 5px;
    font-weight: 600;
    font-size: 12px;
}

.rating {
    cursor: pointer;
}
.rating img {
    width: 25px;
    opacity: .8;
}

.wrapper__product { /*розташування блоку слайдера з описом по горизонталі*/
    display: flex;
    align-items: center;

    margin: 10px 0;
}

.slider {
    border: 2px solid black;
    width: 341.33px;
    height: 256px;
    margin: 10px auto;
    overflow: hidden;

    margin: 0 25px 0 0;
}

.slider-line {
    width: 3413.33px;
    height: 256px;
    display: flex;
    background: orange;
    position: relative;
    left: 0;
    transition: all ease 1s;
}
/*----ОПИС ТОВАРУ--------*/
.product__description {
}
.product__description-list {
}
.product__description-list-item {
    font-size: 20px;
}
.product__description-list-item span {
    font-size: 16px;
    color: rgb(1, 95, 13);
    font-weight: 600;
}


.slider__nav {
    position: relative;
    right: 16%;
    bottom: 0;
}
.slider__nav a {

}
._btn-slider {
    padding: 0 15px;
}
._btn-slider img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    cursor: pointer;

    transition: all 0.25s;
}
._btn-slider img:hover {
    background-color: rgb(254, 180, 106);
}

button {
    background: none;
    border: 1px solid black;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: .9rem;
}

button:hover {
    background: orangered;
}

button:active {
    background: #000;
    color: #fff;
}

/*----------СЛАЙДЕР-АДАПТИВ----------------------------------------*/


/*------ШВИДКИЙ-ЗВ'ЯЗОК--------------*/
.page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    min-height: 200px;
}
.page a {
    display: block;
    font-size: 16px;
}
.page__content {
    max-width: 263px;
    margin: 0 40px 0 0;
    text-align: center;

    padding: 25px;
    background-color: #f5f5e0;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
.page__title {
    margin: 0 0 15px 0;
    font-size: 17px;
}
.page__list {
    margin: 0 0 2px 0;
}
.page__list a {
    font-size: 17px;
}
.page__link {
}
.page__number:not(:last-child) {
    margin: 0 0 5px 0;
}
.page__email {
}
.page__note {
    color: red;
}

/*-----ОПИС-МАГАЗИНУ---------------------------*/
.description {
    min-width: 200px;
    text-align: center;
    
    padding: 25px;
    background-color: #f5f5e0;
    -webkit-box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
}
.description__content {
}
.description__title {
    margin: 0 0 10px 0;
    font-size: 17px;
}
.description__paragraph {
    font-size: 16px;
}
.description__list-item:not(:last-child) {
    margin: 0 0 5px 0;
}
